<template>
  <div id="app">
    <div id="nav">
      <Navbar />
      <br>
    </div>
    <router-view />
  </div>
</template>

<script>
import Navbar from './components/Navbar';
import {mapActions} from 'vuex';
import api from '../api';

export default {
  components: {
    Navbar,
  },
  mounted() {
    api.users().currentUser()
        .then((res) => {
          this.updateCurrentUser(res.data);
          if (this.$router.currentRoute.name !== 'home') {
            this.$router.push('home');
          }
        })
        .catch((error) => {
          this.resetCurrentUser();
          if (error.response.status === 401 &&
                this.$router.currentRoute.name !== 'login') {
            this.$router.push('/');
          }
        });
  },
  methods: {
    ...mapActions(['resetCurrentUser', 'updateCurrentUser']),
  },
};
</script>

<style>
#app, html {
    background-color: #333a55;
}
</style>
