<template>
  <div class="d-grid gap-2 col-8 mx-auto">
    <div class="card">
      <div class="card-title text-center">
        <h1>
          <b>
            Ratings Over the Years
          </b>
        </h1>
      </div>
      <TrendChart
        v-if="datasets && labels"
        :datasets="datasets"
        :grid="{
          verticalLines: true,
          horizontalLines: true
        }"
        :labels="labels"
        :min="0"
      />
    </div>

    <div class="card mt-4">
      <div class="card-title text-center">
        <h1>
          <b>
            Favorite Movies
          </b>
        </h1>
      </div>
      <div
        v-for="(movie, index) in favoriteMovies"
        :key="index"
      >
        <p class="text-center">
          {{ index + 1 }}. {{ movie.title }}:  {{ movie.count }} People Liked it
        </p>
      </div>
    </div>

    <div
      v-if="pieChartData"
      class="card mt-4"
    >
      <div class="card-title text-center">
        <h1>
          <b>
            Genre Distribution
          </b>
        </h1>
      </div>
      <GChart
        type="PieChart"
        :data="pieChartData"
      />
    </div>
  </div>
</template>

<script>
import api from '../../api';
import {GChart} from 'vue-google-charts';

export default {
  components: {
    GChart,
  },
  data() {
    return {
      datasets: null,
      labels: null,
      favoriteMovies: null,
      pieChartData: [['Genre', 'MovieCount']],
    };
  },
  mounted() {
    api.statistics().ratingByYear().then(({data}) => {
      this.datasets = [{
        data: [...data.map((r) => Number(r.rating.toFixed(2)))],
        smooth: true,
        fill: true}];
    });

    api.statistics().ratingByYear().then(({data}) => {
      this.labels = {
        xLabels: [...data.map((r) => r.year)],
        yLabels: 5,
      };
    });

    api.statistics().favoriteMovies().then(({data}) => {
      this.favoriteMovies = data;
    });

    api.statistics().genreDistribution().then(({data}) => {
      data.forEach((stat) => {
        this.pieChartData.push([stat.genre, stat.count]);
      });
    });
  }
  ,
};
</script>

<style scoped>
p {
  font-size: 1.33rem;
}

h1 {
  font-size: 1.5rem;
}
</style>
