<template>
  <MovieList :movies="favorites" />
</template>

<script>
import MovieList from '../components/MovieList';
import {mapState} from 'vuex';

export default {
  components: {
    MovieList,
  },
  computed: {
    ...mapState(['favorites']),
  },
};
</script>

<style lang="scss" scoped></style>
