<template>
  <div
    class="container"
  >
    <GenreSelect @genre-changed="changeGenre" />

    <MovieList
      :key="refresh"
      :movies="filteredMovies"
      @movie-changed="movieChanged"
    />
  </div>
</template>

<script>
import MovieList from '../components/MovieList';
import GenreSelect from '../components/GenreSelect';
import api from '../../api';
import {mapState, mapActions} from 'vuex';

export default {
  components: {
    MovieList,
    GenreSelect,
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      if (!vm.currentUser || Object.keys(vm.currentUser).length === 0) {
        vm.$router.push('/');
      }
      next();
    });
  },
  data() {
    return {
      genre: '',
      movies: [],
      refresh: 0,
      scrolledToBottom: false,
      lastPage: 1,
    };
  },
  computed: {
    ...mapState(['currentUser']),
    filteredMovies() {
      const movies = this.movies.filter((movie) => movie.genre === this.genre);
      if (!movies || movies.length === 0) {
        return this.movies;
      } else {
        return movies;
      }
    },
  },
  watch: {
    scrolledToBottom() {
      if (this.scrolledToBottom) {
        this.lastPage++;
        this.loadMoreMovies();
      }
    },
  },
  mounted() {
    if (this.currentUser) {
      this.loadFavorites();
    }

    this.loadMoreMovies();
    this.scroll();
  },
  methods: {
    ...mapActions(['loadFavorites']),
    scroll() {
      window.onscroll = () => {
        const bottomOfWindow = Math.max(window.pageYOffset,
            document.documentElement.scrollTop,
            document.body.scrollTop) + window.innerHeight >=
            document.documentElement.offsetHeight;

        console.log(document.documentElement.offsetHeight);
        if (bottomOfWindow) {
          this.scrolledToBottom = true;
        } else {
          this.scrolledToBottom = false;
        }
      };
    },
    loadMoreMovies() {
      if (this.currentUser) {
        api.movies()
            .getMoviesAtPage(this.lastPage)
            .then(({data: movies}) => {
              this.movies.push(...movies);
            });
      };
    },
    movieChanged() {
      this.loadMoreMovies();
    },
    changeGenre(genre) {
      this.genre = genre;
      this.refresh++;
    },
  },
};
</script>

<style scoped>
.sticky {
  position: sticky;
  top: 0;
}</style>
