<template>
  <div
    id="signup"
    class="d-grid gap-2 col-6 mx-auto"
  >
    <figure class="text-center">
      <h1 class="display-5 mb-4 text-white">
        Sign Up
      </h1>
      <input
        v-model="input.username"
        class="form-control mb-2"
        type="text"
        name="username"
        placeholder="Username"
      >
      <input
        v-model="input.password"
        class="form-control"
        type="password"
        name="password"
        placeholder="Password"
      >
      <br>
      <button
        class="btn btn-outline-light"
        type="button"
        @click="signUp()"
      >
        Sign Up
      </button>
      <br>
      <br>
      <router-link
        class="text-white"
        to="/"
      >
        Already have an accout? Log In
      </router-link>
    </figure>
  </div>
</template>

<script>
import api from '../../api';
import router from '../router';
import {mapActions} from 'vuex';

export default {
  name: 'SignUp',
  data() {
    return {
      input: {
        username: '',
        password: '',
      },
    };
  },
  methods: {
    ...mapActions(['updateCurrentUser']),
    login() {
      api.users()
          .login(this.input)
          .then((res) => {
            if (res.status === 200) {
              const {
                data: {user, token},
              } = res;

              this.updateCurrentUser(user);
              localStorage.setItem('access_token', token);
              api.updateAuthorizationHeader();
              router.push('/home');
            }
          })
          .catch((error) => {
            alert('username or password was incorrect');
            this.input.password = '';
          });
    },
    signUp() {
      api.users().signUp(this.input).then((res) => {
        if (res.status === 200) {
          this.login();
        }
      }).catch((error) => {
        alert('username or password was incorrect');
        this.input.password = '';
      });
    },
  },
};
</script>

<style scoped>
#signup {
    margin-top: 10%;
    width: 30%;
}
</style>
