<template>
  <div class="d-grid gap-2 col-6 mx-auto">
    <input
      v-model="title"
      type="text"
      class="form-control"
      placeholder="Enter Movie Title"
    >

    <textarea
      v-model="description"
      class="form-control mt-3"
      rows="3"
      placeholder="Enter Description"
    />

    <input
      v-model="date"
      type="date"
      class="form-control mt-3"
    >

    <div class="d-flex flex-column mt-3">
      <div class="row">
        <span class="text-white">Video File:</span>
        <input
          ref="videoFile"
          type="file"
          name="video"
          class="form-control-file text-white"
          @change="videoSelected"
        >
      </div>
      <div class="row mt-3">
        <span class="text-white">Poster File:</span>
        <input
          ref="posterFile"
          type="file"
          name="poster"
          class="form-control-file text-white"
          @change="posterSelected"
        >
      </div>
    </div>

    <GenreSelect
      class="mt-4"
      @genre-changed="changeGenre"
    />

    <div class="row">
      <button
        class="btn btn-success mt-3"
        @click="upload()"
      >
        Upload
      </button>
    </div>
  </div>
</template>

<script>
import GenreSelect from '../components/GenreSelect';
import api from '../../api';

export default {
  name: 'Upload',
  components: {
    GenreSelect,
  },
  data() {
    return {
      title: null,
      description: null,
      date: null,
      files: [],
      genre: '',
    };
  },
  methods: {
    upload() {
      const formData = new FormData();
      if (!this.files[0] || !this.files[1] || !this.files[0] ||
          !this.title || ! this.description || !this.date ||
          !this.genre || this.genre === 'select a genre...') {
        alert('All fields must be set');

        return;
      }

      formData.append('video', this.files[0]);
      formData.append('poster', this.files[1]);
      formData.append('title', this.title);
      formData.append('description', this.description);
      formData.append('date', this.date);
      formData.append('genre', this.genre);

      api.movies()
          .uploadMovie(formData)
          .then(() => {
            this.$router.push('/home');
          })
          .catch((err) => {
            alert('Problem with upload the file');
          });
    },
    changeGenre(genre) {
      this.genre = genre;
    },
    videoSelected() {
      const videoFile = this.$refs.videoFile.files[0];
      if (videoFile) {
        this.files.push(videoFile);
      }
    },
    posterSelected() {
      const posterFile = this.$refs.posterFile.files[0];
      if (posterFile) {
        this.files.push(posterFile);
      }
    },
  },
};
</script>

<style scoped>
</style>
