<template>
  <div class="d-grid gap-2 col-6 mx-auto">
    <video controls>
      <source
        v-if="movie !== null"
        type="video/mp4"
        :src="movie"
      >
      Your browser does not support the video tag.
    </video>
  </div>
</template>

<script>
import api from '../../api';

export default {
  data() {
    return {movie: null};
  },
  mounted() {
    api
        .movies()
        .getMovie(this.$route.params.movie._id)
        .then(({data}) => {
          this.movie = 'data:video/mp4;base64,' + data.video;
        });
  },
};
</script>

<style scoped>
video {
    width: 50vw;
}
</style>
