<template>
  <div class="row">
    <select
      v-model="genreSelect"
      class="form-select form-select-lg mb-3"
      aria-label=".form-select-lg example"
      @change="changeGenre"
    >
      <option selected>
        select a genre...
      </option>
      <option>comedy</option>
      <option>action</option>
      <option>sci-fi</option>
    </select>
  </div>
</template>

<script>
export default {
  name: 'GenreSelect',
  emits: ['genre-changed'],
  data() {
    return {
      genreSelect: 'select a genre...',
      genre: '',
    };
  },
  methods: {
    changeGenre() {
      this.$emit('genre-changed', this.genreSelect);
    },
  },
};
</script>
