<template>
  <div
    class="card col-lg-2 ml-md-5 mt-md-3 shadow"
    @mouseover="hover = true"
    @mouseleave="hover = false"
  >
    <img
      v-if="posterSource !== null"
      class="card-img-top btn"
      :src="posterSource"
      @click="watchMovie"
    >
    <div class="card-body text-center">
      <h3 style="font-size: 100%; color: #5ba87b;">
        {{ movie.title }}
      </h3>

      <span
        v-show="!isFavoriteMovie"
        class="btn"
        @click="addMovieToFavorites(movie)"
      >
        <i class="far fa-star yellow-star-icon fa-lg" />
      </span>
      <span
        v-show="isFavoriteMovie"
        class="btn"
        @click="removeMovieFromFavorites(movie)"
      >
        <i class="fas fa-star yellow-star-icon fa-lg" />
      </span>

      <p class="text-white mt-1">
        {{ movie.description }}
        <br>
        <br>
        {{ movie.date.toString().split('T')[0] }}
      </p>
      <div
        v-if="currentUser.isAdmin"
        :style="{
          opacity: hover ? 1 : 0,
          transform: hover ? `translateY(0px)` : `translateY(30px)`,
        }"
        class="rounded-circle delete-btn"
        @click.stop="deleteMovie()"
      >
        <i
          class="far fa-trash-alt delete-icon"
          style="vertical-align: middle;"
        />
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions, mapState} from 'vuex';
import api from '../../api';

export default {
  name: 'Movie',
  props: {
    movie: {
      type: Object,
      default: Object,
    },
  },
  emits: ['movie-changed'],
  data() {
    return {
      hover: false,
      posterSource: null,
    };
  },
  computed: {
    ...mapState(['currentUser', 'favorites']),
    isFavoriteMovie() {
      return this.favorites.map((movie) => movie._id).includes(this.movie._id);
    },
  },
  created() {
    api.movies().getPoster(this.movie._id).then(({data}) => {
      this.posterSource = 'data:image/png;base64,' + data.poster;
    });
  },
  methods: {
    ...mapActions(['addMovieToFavorites', 'removeMovieFromFavorites']),
    watchMovie() {
      this.$router.push({name: 'watch', params: {movie: this.movie}});
    },
    deleteMovie() {
      api.movies().deleteMovie(this.movie._id).then(() => {
        this.$emit('movie-changed');
      });
    },
  },
};
</script>

<style scoped>
.delete-btn {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 30px;
  width: 30px;
  margin: 0 auto;
  margin-top: 1em;
  transition: all 0.2s;
  cursor: pointer;
}
.delete-icon:hover {
  color: rgba(255, 0, 0, 0.623);
}

.card {
    background-color: #03000e;
}

.card-img-top {
    height: 30vh;
    width: 100%;
}

.yellow-star-icon {
    color: yellow
}
</style>
