<template>
  <div class="container">
    <div class="row">
      <Movie
        v-for="(movie, index) in movies"
        :key="index"
        track-by="index"
        :movie="movie"
        @movie-changed="movieChanged"
      />
    </div>
  </div>
</template>

<script>
import Movie from '../components/Movie';
import {mapState} from 'vuex';

export default {
  name: 'MovieList',
  components: {
    Movie,
  },
  props: {'movies': {
    type: Array,
    default: Array,
  }},
  emits: ['movie-changed'],
  computed: {
    ...mapState(['currentUser']),
  },
  methods: {
    movieChanged() {
      this.$emit('movie-changed');
    },
  },
};
</script>

<style lang="scss" scoped></style>
