<template>
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-black justify-content-between"
  >
    <a
      id="appName"
      class="navbar-brand"
      href="#"
    >Mega Movies</a>

    <ul
      v-if="currentUser != null"
      class="navbar-nav mr-auto"
    >
      <li class="nav-item">
        <router-link
          class="nav-link"
          to="/home"
        >
          Home
        </router-link>
      </li>
      <li class="nav-item">
        <router-link
          class="nav-link"
          to="/favorites"
        >
          Favorites
        </router-link>
      </li>
      <li class="nav-item">
        <router-link
          class="nav-link"
          to="/upload"
        >
          Upload
        </router-link>
      </li>
      <li
        v-if="currentUser.isAdmin"
        class="nav-item"
      >
        <router-link
          class="nav-link"
          to="/adminPage"
        >
          Admin
        </router-link>
      </li>
    </ul>

    <div>
      <button
        v-if="currentUser !== null"
        type="button"
        class="btn btn-light btn btn-xl "
        @click="logout"
      >
        <i class="fas fa-sign-out-alt fa-2x" />
        {{ currentUser.username }}
      </button>
    </div>
  </nav>
</template>

<script>
import {mapState, mapActions} from 'vuex';
export default {
  name: 'Navbar',
  computed: {
    ...mapState(['currentUser']),
  },
  methods: {
    ...mapActions(['resetCurrentUser']),
    logout() {
      localStorage.removeItem('access_token');
      this.resetCurrentUser();
      this.$router.push('/');
    },
  },
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Gugi&display=swap');
.btn-circle.btn-xl {
    width: 60px;
    height: 60px;
    padding: 7px 8px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}

#appName {
    font-size: 200%;
    font-family: 'Gugi';
}

span {
    font-family: 'Assistant';
    font-size: 22px;
    color: white;
}

.bg-black {
    background-color: #000000;
}
</style>
