<!DOCTYPE html>
<html
	lang="en"
	xmlns:mso="urn:schemas-microsoft-com:office:office"
	xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"
>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<link rel="icon" href="<%= BASE_URL %>favicon.ico" />
		<link href='https://fonts.googleapis.com/css?family=Assistant' rel='stylesheet'>
		<title><%= htmlWebpackPlugin.options.title %></title>

		<!--[if gte mso 9
			]><xml>
				<mso:CustomDocumentProperties>
					<mso:xd_Signature msdt:dt="string"></mso:xd_Signature>
					<mso:display_urn_x003a_schemas-microsoft-com_x003a_office_x003a_office_x0023_Editor
						msdt:dt="string"
						>&#1492;&#1512;&#1488;&#1500;
						&#1495;&#1503;</mso:display_urn_x003a_schemas-microsoft-com_x003a_office_x003a_office_x0023_Editor
					>
					<mso:Order msdt:dt="string">63658600.0000000</mso:Order>
					<mso:ComplianceAssetId msdt:dt="string"></mso:ComplianceAssetId>
					<mso:TemplateUrl msdt:dt="string"></mso:TemplateUrl>
					<mso:xd_ProgID msdt:dt="string"></mso:xd_ProgID>
					<mso:SharedWithUsers msdt:dt="string"></mso:SharedWithUsers>
					<mso:display_urn_x003a_schemas-microsoft-com_x003a_office_x003a_office_x0023_Author
						msdt:dt="string"
						>&#1492;&#1512;&#1488;&#1500;
						&#1495;&#1503;</mso:display_urn_x003a_schemas-microsoft-com_x003a_office_x003a_office_x0023_Author
					>
					<mso:ContentTypeId msdt:dt="string"
						>0x0101009BE6ECE165CB8F4AB4BE96024BE5E884</mso:ContentTypeId
					>
					<mso:_SourceUrl msdt:dt="string"></mso:_SourceUrl>
					<mso:_SharedFileIndex msdt:dt="string"></mso:_SharedFileIndex>
				</mso:CustomDocumentProperties> </xml
		><![endif]-->
	</head>
	<body>
		<noscript>
			<strong
				>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly
				without JavaScript enabled. Please enable it to continue.</strong
			>
		</noscript>
		<div id="app"></div>
		<!-- built files will be auto injected -->
	</body>
</html>
